//  Nextflow Configuration

profiles {
    conda {
        conda.enabled = true
        conda.useMamba = false
    }
    test {
        params.reads     = "${projectDir}/test_data/*_{1,2}.fastq.gz"
        params.reference = "${projectDir}/test_data/reference.fna"
        params.outdir    = "${launchDir}/results"
    }
}

// ── Default params ──
params.max_cpus   = Runtime.runtime.availableProcessors()
params.max_memory = '8 GB'

process {
    cpus   = { Math.min(2, params.max_cpus as int) }
    memory = { params.max_memory }
}